body {
    font-family: Arial, sans-serif;
    background: #e2e2e2;
    text-align: center;
 
    align-items: center;
 
}

body  {
  
  background-image: url("img1.jpg"); /* Փոխիր "your-image.jpg" քո նկարի ուղով */
  background-repeat: no-repeat;            /* Մի կրկնիր նկարը */
  background-position:  center;      /* Կենտրոնում է նկարը */
   background-size: 100% ;  
margin: 0; 
}

.logo {
  width: 90px;
  margin-right: 20px;
  
}
.top-header {
display: flex;
  gap: 5px;
  align-items: center;
  padding: 50px;
  background-color: #d6c59cdd; /* Գույն, կարող ես փոխել */
  padding: 15px;         /* Վերին/ներքևի տարածք */
  text-align: center;          /* Տեքստը կենտրոնում */
  color: rgb(4, 3, 3);               /* Սպիտակ տեքստ */
  font-size: 10px;            /* Տեքստի չափը */
  font-weight: bold;          /* Bold տեքստ */
  border-radius: 0 0 0px 0px; /* Կափարիչ անկյուններ */
  box-shadow: 0 4px 8px rgba(150, 100, 100, 0.2); /* Թութփափուկ ստվեր */
}

 .container {
  max-width: 500px;
  margin: 20px auto;
  padding: 28px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 18px;
  box-shadow: 0 8px 24px  #d6c59cdd;
  font-family: "Inter", "Segoe UI", sans-serif;
}

.container * {
  color: #333;
}

.input-group {
    margin-bottom: 5px;
    width: 200px; 
    padding: 5px;
    margin-top: 10px;
    margin-left: 150px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 15px;
}

button {
    width: 50%;
    padding: 10px;
    background: rgba(203, 170, 99, 0.96);
    color: rgb(255, 132, 132);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
button {
  background: none;      /* հանում է background-ը */
  border: none;          /* հանում է border-ը */
  color: #000;           /* սև գույն */
  font-size: 14px;       /* կարող ես փոխել */
  font-weight: 600;
  cursor: pointer;       /* ձեռքի icon hover-ին */
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

.site-header {
  padding: 10px 10px;
  color: #f0e7e7;
  
}

.site-header address {
  font-style: normal;
  
  flex-direction: column;
  gap: 1px;
}

.site-header a {
  color: #eae6e6;
  text-decoration: none;
  font-weight: 200;
  
}

.about a {
  color: #000;           /* սև տեքստ */
  text-decoration: none; /* հանում underline */
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s, text-decoration 0.3s;
  position:fixed;
  top: 30px;
  right: 30px;
  z-index: 1000;
  align-items: center;
}



.about {
  padding: 4px, 20px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.about-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 50px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 18px;
  box-shadow: 0 8px 24px  #d6c59cdd;
  font-family: "Inter", "Segoe UI", sans-serif;
 

}

.about h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #000000;
}

.about p {
  font-size: 18px;
  line-height: 1.8;
  color: #000000;
}

